In [2]:
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

In [4]:
#above 2000 average with respect to 20-year
df = pd.read_csv("raw/sea_levels_2015.csv")
df['Year'] = [str(y).split('.')[0]for y in df['Year']]
df = df[['Year','1','2']]
df['3'] = -38.59
df['4'] = df['1'].shift(1)
df['diff'] = df['1']- df['3']
df['rise_year'] = df['1']- df['4']
df.head()

   Year      1      2      3      4  diff  rise_year
0  1993 -38.59  89.86 -38.59    NaN  0.00        NaN
1  1993 -41.97  90.86 -38.59 -38.59 -3.38      -3.38
2  1993 -41.93  87.27 -38.59 -41.97 -3.34       0.04
3  1993 -42.67  90.75 -38.59 -41.93 -4.08      -0.74
4  1993 -37.86  90.26 -38.59 -42.67  0.73       4.81

In [10]:
df2 = df[['Year','rise_year']].groupby('Year').sum()
df2.reset_index(inplace=True)
df2.head()

   Year  rise_year
0  1993       7.46
1  1994       6.20
2  1995      -1.80
3  1996      -1.62
4  1997       7.00

In [7]:
dfs=[]
for y in df['Year'].unique():
    dfs.append(df[df['Year']==y].iloc[[len(df[df['Year']==y])-1]])
dfs.append(df[df['Year']=='1993'].iloc[[0]])
final_df = pd.concat(dfs)
final_df.reset_index(inplace=True,drop=True)
final_df["Year"].iloc[-1] = '1992'

In [13]:
final_df = final_df[['Year','diff']].sort_values('Year')
final_df = final_df.merge(df2,on='Year',how='left')
final_df.fillna(0,inplace=True)

In [14]:
final_df

    Year   diff  rise_year
0   1992   0.00       0.00
1   1993   7.46       7.46
2   1994  13.66       6.20
3   1995  11.86      -1.80
4   1996  10.24      -1.62
5   1997  17.24       7.00
6   1998  12.08      -5.16
7   1999  20.95       8.87
8   2000  22.82       1.87
9   2001  27.21       4.39
10  2002  31.94       4.73
11  2003  32.30       0.36
12  2004  41.02       8.72
13  2005  40.69      -0.33
14  2006  41.18       0.49
15  2007  37.52      -3.66
16  2008  41.74       4.22
17  2009  52.99      11.25
18  2010  46.11      -6.88
19  2011  50.49       4.38
20  2012  63.02      12.53
21  2013  61.07      -1.95
22  2014  68.14       7.07
23  2015  75.03       6.89
24  2016  75.29       0.26
25  2017  79.19       3.90
26  2018  82.34       3.15
27  2019  88.06       5.72
28  2020  94.41       6.35

In [15]:
final_df.to_csv('cleaned/sea_level_global.csv',index=False)